* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Screen background settings*/
body {
    height: 100%;
    margin: 0;
    padding: 5%;
    width: 100%;
    background: black url(./img/png/edmonton.png) no-repeat;
    background-size: cover;
    color: white;

}

#disaster-bar {
    float: left;
    width: 100%;
    background-color: #ddd;
}

#fill-bar {
    width: 1%;
    height: 30px;
    background-color: crimson;
}


.header-area{
    float: left;
    width:100%;
}

#clear{
    float: left;
    width: 100%;
    clear: both;
}
.center-screen #timer-area{
    float: left;
    width: 50%;
    background-color: #5CBDC9;
    padding: 5%;
    text-align: center;
    min-height: 12vh;
}

.center-screen #disaster-area {
    float: left;
    width: 50%;
    background-color: crimson;
    padding: 5%;
    text-align: center;
    min-height: 12vh;
}

.center-screen #username-area{
    float: left;
    text-align: center;
    width: 100%;
    background-color: whitesmoke;
    padding: 5%;
}

.center-screen #username-area h2{
    text-align: center;
    color: darkorange;
    font-family: "Arial Narrow";
    font-weight: 300;
    font-size: 2vh;
}

.center-screen #timer-area h2{
    text-align: center;
    color: aliceblue;
    font-family: "Arial Narrow";
    font-size: 4vh;
}

.center-screen #timer-area h3{
    color: aliceblue;
    font-family: "Arial Narrow";
    font-size: 7vh;
}

.center-screen #clear{
    padding: 5%;
}

.center-screen h2{
    text-align: center;
    color: black;
    font-family: "Arial Narrow";
    font-size: 2vh;
}

.center-screen #disaster-area h2{
    text-align: center;
    color: aliceblue;
    font-family: "Arial Narrow";
    font-size: 2vh;
}
.center-screen #disaster-area h3{
    color: aliceblue;
    font-family: "Arial Narrow";
    font-size: 7vh;
}


.center-screen {
    width:30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    z-index: 1;
}

/*How big the screen should be*/
.memGame{
    position: relative;
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;

}

/*Set card proportions relative to screen, and set flip timer to both
faces. Otherwise, flipping to front has transform time, flipping to back
is instant*/
.memCard{
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(226, 4, 4, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

#form{
    padding: 5%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}


/* Basic Button Style */
   .btn {
       float: left;
       align-items: center;
       padding: 5% 5% 0% 5%;
       justify-content: center;
       width:50%;
       box-sizing: border-box;
       border: none;
       appearance: none;
       background-color: transparent;
       color: black;
       cursor: pointer;
       display: flex;
       align-self: center;
       font-size: 6vh;
       font-weight: 400;
       line-height: 1;}


.btn-username {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 0.6em;
    color: aqua;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 7vh;
    font-weight: 100;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Narrow";
    font-weight: 700;}



/*Set card front and back properties*/
.cardFront,
.cardBack{
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    background-color: #361ccc;
}
/*Display card front when back is flipped*/
.cardFront{
    transform: rotateY(180deg);
}
/*When pressed on card, give visual feedback*/
.memCard:active{
    transform:scale(0.97);
    transition:transform .2s;
}

/*Rotate the card 180deg when clicked. Relevant script is in
scripts.js*/
.memCard.flip{
    transform: rotateY(180deg);
  }


