/*Screen background settings*/
body {
    height: 100%;
    margin: 0;
    padding: 5%;
    width: 100%;
    background: black url(./img/png/edmonton.png) no-repeat;
    background-size: cover;
    color: white;

}
#main .form .btn{
    float:none;
    margin-right: auto;
    margin-left: auto;
}

#clear{
    float: left;
    width: 100%;
    clear: both;
}

#main{
    float: left;
    width:100%;
}

#single{
    float:left;
    width: 50%;
}

#multi{
    float:left;
    width: 50%;
}

h1{
    font-family: "Arial Narrow";
    color: white;
    text-align: center;
    font-size: 7vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

h2{
    font-family: "Arial Narrow";
    color: white;
    text-align: center;
    font-size: 5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}


#header h2, #main h2{
    font-family: "Arial Narrow";
    color: white;
    font-size: 5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}


#header p, #main p{
    font-family: "Arial Narrow";
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
/* Basic Button Style */
.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 0.6em;
    color: aqua;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 3vh;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Narrow";
    font-weight: 700;}

.btn-username {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid aqua;
    border-radius: 0.6em;
    color: aqua;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 2vh;
    font-weight: 100;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Narrow";
    font-weight: 700;}